* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    background-image: url("brilho.jpg");
}

header{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

header>h1{
    margin: 30px;
}

.imgHeader{
    width: 100px;
    height: 100px;
}

.gifImages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.animalGif{
    width: 200px;
    height: 200px;
}

.parabensGif{
    width: 900px;
    height: 500px;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;

}


iframe{
    width:560px;
    height:315px;
}